body {
    background-color: aqua;
    font-family: verdana;
}

.h1 {
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 25px;
    color: blue;
}



.container {
    font-family: Georgia, 'Times New Roman',Times, serif;
    color: orange;
    text-align: center;
}

.aku > h3 > a {
    color:white ;

}

.h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: right;
}

.ft {
    text-align: right;
}