body {
    background-color: lightblue;
    font-family: Helvetica;
}

td {
    background-color: lightblue;
}

a {
    text-decoration: none;
    color: darkslategray;
}

a:hover {
    background-color: azure;
    color:blue;
    border-radius: 50px;
}
